html {
    font-size: 62.5%;
    /* * Reset para REMS =>> 62.5% de 16px= 10px! */
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto Slab', serif;
    /*TOMAR EN CUENTA GOOGLE FONTS*/
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
    /* 100% recomendable, hace que las imagenes sean responsivas a su contenedor*/
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

p {
    padding-bottom: 1rem;
}

/** GLOBALES **/

.contenedor {
    max-width: 120rem;
    /* 1200px*/
    margin: 0 auto 0 auto;
    /*up, right, down, left*/
}

/* UTILIDADES */

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300 {
    font-weight: 300;
}

.center-txt {
    text-align: center;
}

.center-img {
    /*Usar en el contenedor padre*/
    display: flex;
    justify-content: center;
}

.d-block {
    display: block !important;
}

.contenido-centrado {
    max-width: 80rem;
}

/*****************************************/

/* Botones*/

.boton {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    display: inline-block;
    text-align: center;
    border: none;
}

.boton:hover {
    cursor: pointer;
}

.btn-amarillo {
    background-color: rgb(223, 145, 0);
}

.btn-verde {
    background-color: rgb(100, 206, 0);
}

/*Header */

.HC-header {
    /* ?BG COLOR DIFFERENT WHEN SIGNED IN */
    background-color: rgba(51, 51, 51, 0);
    padding: 1rem 0 3rem 0;
    /* !FIXED NAVBAR! */
    overflow: hidden;
    position: fixed; 
    top: 0;
    width: 100%;
}

.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.contenido-header h1 {
    color: white;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}

.barra {
    display: flex;
    justify-content: space-between;
    /*acomoda de manera horizontal*/
    align-items: center;
    /*acomoda de manera vertical los elementos*/
    padding: 3rem 0 0 0;
}

/* Navegacion */

.navegacion a {
    /*.clase etiqueta{} /* accedes a la etiqueta dentro de una clase especifica*/
    color: #dadada;
    text-decoration: none;
    font-size: 2rem;
    /*Igual a 20px (1rem = 10px)*/
    margin-right: 2rem;
}

.navegacion a:hover {
    color: rgb(100, 206, 0);
}

.navegacion a:last-of-type {
    /*El ultimo hermano de la jerarquia*/
    margin-right: 0;
}

/* Iconos Nosotros*/

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}

.icono {
    flex-basis: calc(33.3% - 1rem);
    /* El ancho por default, calc() realiza una ecuacion matematica*/
    text-align: center;
}

.icono h3 {
    text-transform: uppercase;
}

/*Anuncios*/

.contenedor-anuncios {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.anuncio {
    flex-grow: 0;
    /* Permite que el contenido crezca para abarcar el contenedor, si es posible*/
    flex-shrink: 0;
    /* Permite que el contenido se encoja para abarcar el contenedor, si es posible*/
    flex-basis: calc(33.3% - 1rem);
    /* *flex: 0 0 calc(33.3% - 1rem); -> El contenido anterior se puede representar de la siguiente manera*/
    border: 1px solid #00d69d31;
    background: #f5f5f5;
    margin-bottom: 2rem;
}

.contenido-anuncio {
    padding: 2rem;
}

.contenido-anuncio h3, p {
    /* La coma permite seleccionar dos etiquetas, primero una, luego la otra*/
    margin: 0;
}

.precio {
    color: rgb(100, 206, 0);
    font-weight: 900;
}

.iconos-carac {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    flex: 1;
    max-width: 50rem;
}

.iconos-carac li {
    /*flex: 1;*/
    display: flex;
}

.iconos-carac li>img {
    margin-right: 2rem;
}

.ver-todas {
    display: flex;
    justify-content: flex-end;
}

/*Contacto home*/

.imagen-contacto {
    background-image: url(../img/encuentra.jpg);
    height: 40rem;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.contenido-contacto {
    flex: 1;
    color: white;
}

.contenido-contacto p {
    font-size: 2rem;
}

/*Seccion Inferior*/

.seccion-inferior {
    display: flex;
    justify-content: space-between;
}

.seccion-inferior .blog {
    flex-basis: 60%;
}

.seccion-inferior .testimoniales {
    flex-basis: calc(40% - 2rem);
}

.entrada-blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.entrada-blog:last-of-type {
    margin-bottom: 0;
}

.entrada-blog .imagen {
    flex-basis: 40%;
}

.entrada-blog .txt-entrada {
    flex-basis: calc(60% - 3rem);
}

.txt-entrada h4 {
    margin: 0;
    line-height: 1.5;
}

.txt-entrada a {
    color: black;
    text-decoration: none;
}

.txt-entrada h4::after {
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: rgb(100, 206, 0);
    margin-top: 1rem;
}

.txt-entrada span {
    color: rgb(223, 145, 0);
}

/* Testimoniales*/

.testimonial {
    background-color: rgb(100, 206, 0);
    font-size: 2.4rem;
    padding: 2rem;
    color: white;
    border-radius: 5%;
}

.testimonial p {
    text-align: end;
}

.testimonial blockquote::before {
    content: '';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    /* * El hijo tiene que tener una posicion absoluta a su padre*/
    left: -1%;
}

.testimonial blockquote {
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}

/* Footer */

.site-footer {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}

/* * Paginas Internas*/

/* Nosotros*/

.contenido-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    /* ! grid-column-gap Ya no se usa*/
}

.texto-nosotros blockquote {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0;
}

/*Anuncios*/

.resumen-propiedad {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Contacto */

.contacto p {
    font-size: 1.6rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}

legend {
    font-size: 2.4rem;
    color: #666666;
}

label {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

input:not([type="submit"]), textarea, select {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: .5rem;
}

input[type="radio"] {
    width: auto;
    margin: 0;
}

select {
    appearance: none;
}

.forma-contacto {
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}